.FavouriteListCardContainer {
    display: flex;
}

.FavouriteListCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    max-width: 350px;
    border-top: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
    border-left: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
    &:hover {
        cursor: url('../../assets/cursor-hover.svg'), auto;
    }
}

.Img {
    height: 150px;
    width: 150px;
    margin: 5px;

    &:hover {
        cursor: url('../../assets/cursor-hover.svg'), auto;
    }
}

.FavouriteBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
    border-right: 1px solid rgba($color: #2f2c23, $alpha: 0.3);
}

.FavouriteBtn {
    border: none;
    background-color: transparent;
    padding: 2em;

    &:hover {
        cursor: url('../../assets/cursor-hover.svg'), auto;
    }
}