.NavBar {
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}

.Link {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1em;
    border: 1px solid red;
}