.NavBar {
    display: flex;
    justify-content: space-around;
}

.Link {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;

    &:hover {
        background-color: orangered;
    }
}