.Carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    border: 1px solid black;
    background-color: transparent;
}

.Button {
    padding: 1em;
    height: 100%;
    border: none;
    background-color: transparent;

    &:hover {
        transform: scale(1.2);
    }
}