.Carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* Hide overflow from the button hover */
    position: relative; /* Hide overflow from the button hover */
}

.Button {
    padding: 1em;
    height: 100%;
    border: none;
    background-color: rgba(black, 0.2);
    transition: transform 0.3s ease; /* Smooth transition for scaling */


    &:hover {
        transform: scale(1.2);
        cursor: url('../../assets/cursor-hover.svg'), auto;
    }
}