.Title {
    text-align: center;
    padding: 1em;
}

.FavouriteListPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}